<MCard Elevation="0"
       Rounded="@("lg")"
       class="mt-2">
    <MList>
        <MListItem>
            <MListItemContent Class="text-center"
                              Style="display: grid;grid-template-columns: repeat(3, 1fr);">
                <div>
                    <MListItemSubtitle>
                        文章数
                    </MListItemSubtitle>
                    <MListItemTitle Class="mt-2 font-weight-bold text-h6">
                        18
                    </MListItemTitle>
                </div>
                <div>
                    <MListItemSubtitle>
                       动态数
                    </MListItemSubtitle>
                    <MListItemTitle Class="mt-2 font-weight-bold text-h6">
                        80
                    </MListItemTitle>
                </div>
                <div>
                    <MListItemSubtitle>
                       友链数
                    </MListItemSubtitle>
                    <MListItemTitle Class="mt-2 font-weight-bold text-h6">
                        90
                    </MListItemTitle>
                </div>
            </MListItemContent>
        </MListItem>
        <MListItem>
            <MListItemContent Class="text-center"
                              Style="display: grid;grid-template-columns: repeat(3, 1fr);">
                <div>
                    <MListItemSubtitle>
                        UV
                    </MListItemSubtitle>
                    <MListItemTitle Class="mt-2 font-weight-bold text-h6">
                        110
                    </MListItemTitle>
                </div>
                <div>
                    <MListItemSubtitle>
                        PV
                    </MListItemSubtitle>
                    <MListItemTitle Class="mt-2 font-weight-bold text-h6">
                        100
                    </MListItemTitle>
                </div>
                <div>
                    <MListItemSubtitle>
                       评论
                    </MListItemSubtitle>
                    <MListItemTitle Class="mt-2 font-weight-bold text-h6">
                        101
                    </MListItemTitle>
                </div>
            </MListItemContent>
        </MListItem>
    </MList>
</MCard>
