@page "/user"

<PageTitle>User</PageTitle>

<MAppBar Color="primary"
         Flat
         Fixed>
    <ChildContent>
        <PPageStackLink Href="/edit-user">
            <CustomContent Context="push">
                <div @onclick="push">
                    <MAvatar Size="48" Color="white">
                        <MImage Src="@_user.Avatar" Width="48"
                                alt="user-avatar">
                        </MImage>
                    </MAvatar>
                    <span class="subtitle-1 px-2">@_user.Nickname</span>
                </div>
            </CustomContent>
        </PPageStackLink>

        <MSpacer />

        <PPageStackLink Href="/settings">
            <MButton Icon>
                <MIcon>mdi-cog-outline</MIcon>
            </MButton>
        </PPageStackLink>
    </ChildContent>
</MAppBar>

<div class="primary" style="height: 64px;"></div>

<div class="pa-3">
    <div class="primary"
         style="width: 100vw; height: 64px; margin-left: -12px; margin-top: -12px; position: absolute;">
    </div>
</div>