@page "/moment/edit/{id?}"
@using Memo.Blog.App.Components.Pages.Moment.Components;

<PStackPageBarInit>
    <ActionContent>

        <MButton Icon="true"
                 OnClick="()=> _showManageTag = true">
            <MIcon>mdi-label-outline</MIcon>
        </MButton>

        <BottomSheet SheetItems="_shareSheetItems">
            <ActivatorContent>
                <MButton Icon @attributes="@context.Attrs">
                    <MIcon>mdi-share-outline</MIcon>
                </MButton>
            </ActivatorContent>
        </BottomSheet>

        <BottomSheet SheetItems="_configSheetItems">
            <ActivatorContent>
                <MButton Icon @attributes="@context.Attrs">
                    <MIcon>mdi-dots-horizontal</MIcon>
                </MButton>
            </ActivatorContent>
        </BottomSheet>
    </ActionContent>
</PStackPageBarInit>

<MContainer Fluid Class="d-flex flex-column">
    <div>
        <div class="d-flex align-center flex-wrap text-subtitle-2">
            <span>
                <MIcon>mdi-update</MIcon> @_moment.CreateTime.ToString("yyyy-MM-dd HH:mm")
            </span>

            <MSpacer></MSpacer>
            <span class="text-subtitle-2">
                @_moment.Content.Length 字
            </span>
        </div>
    </div>

    <div class="content-input-wrap user-select">
        @if (_editText)
        {
            <MarkdownEdit @ref="markdownEdit"
                          @bind-Value="_moment.Content"
                          WrapClass="content-markdown-wrap"
                          Class="px-3 rounded-lg content-markdown"
                          Autofocus="_autofocus"
                          OnAfter="HandleLaunchActivation">
            </MarkdownEdit>
        }
        else
        {
            <TextareaEdit @ref="textareaEdit"
                          @bind-Value="_moment.Content"
                          Class="rounded-lg"
                          Autofocus="_autofocus"
                          OnAfter="HandleLaunchActivation">
            </TextareaEdit>
        }
    </div>

    @if (_editText)
    {
        <div class="vditor-toolbar-help"></div>
    }
</MContainer>

<ManageTagDialog @bind-Tags="_moment.Tags" @bind-Visible="_showManageTag" />
