<MPullRefresh Class="ml-2 mr-2 home--swiper-slide-content"
              CanReleaseText="下拉刷新"
              PullingText="刷新中..."
              SuccessText="刷新成功！"
              OnRefresh="@HandleOnRefreshAsync">
    <div>
        <SummaryCard Items="@_summaries" />
    </div>

</MPullRefresh>