@inherits DialogComponentBase

<MDialogExtension Visible="@Visible"
                  ContentClass="rounded-lg"
                  Scrollable="true"
                  MaxWidth="420"
                  VisibleChanged="InternalVisibleChanged"
                  OnBeforeShowContent="BeforeShowContent">
    <MCard>
        <MCardTitle Class="font-weight-bold">
            头图
        </MCardTitle>
        <MCardText Class="pb-0">
            <div @onclick="() => _preview = !string.IsNullOrWhiteSpace(Banner) ">
                <MImage Eager AspectRatio="16/9d" MinWidth="240" Src="@Banner" />
            </div>
        </MCardText>
        <MCardActions>
            <MButton Text="true"
                     OnClick="HandlePickImage">
                选择图片
            </MButton>

            <MSpacer />
            <MButton Text="true"
                     OnClick="HandleCancel">
                取消
            </MButton>
            <MButton Text="true"
                     Color="primary"
                     OnClick="HandleSave">
                保存
            </MButton>
        </MCardActions>
    </MCard>

    <ImagePreview @bind-Visible="_preview" Src="@Banner" />
</MDialogExtension>