@using Memo.Blog.App.Models.Article

<MDialogExtension Visible="@Visible"
                  ContentClass="rounded-lg"
                  Scrollable="true"
                  MaxWidth="420"
                  VisibleChanged="InternalVisibleChanged"
                  OnBeforeShowContent="BeforeShowContent">
    <MCard>
        <MCardTitle Class="font-weight-bold">
            分类/标签
        </MCardTitle>
        <MCardText Class="pb-0">
            <MSelect Dense
                     Outlined
                     TItem="CategoryResult"
                     TItemValue="string"
                     TValue="string"
                     ItemText="r=>r.Name"
                     ItemValue="r=>r.CategoryId"
                     Items="_allCategories"
                     @bind-Value="_selectCategory" />

            <div class="scroll-show" style="max-height:200px;">
                <MChipGroup @bind-Values="_selectedTags"
                            Column="true"
                            Multiple="true">
                    @foreach (var item in _allTags)
                    {
                        <MChip @key="item.TagId"
                               Value="@(item.TagId)"
                               Filter="true">
                            @(item.Name)
                        </MChip>
                    }

                    <MButton Small
                             Fab
                             Color="primary"
                             OnClick="HandleAddTag">
                        <MIcon>mdi-plus</MIcon>
                    </MButton>
                </MChipGroup>
            </div>

            @if (_showInput)
            {
                <div class="mt-2">
                    <MTextField @bind-Value="_inputValue"
                                Dense
                                Clearable
                                HideDetails="true"
                                Placeholder="@_inputLabel"
                                AppendOuterIcon="mdi-plus"
                                OnAppendOuterClick="HandleSaveTagOrCategory"
                                OnEnter="HandleSaveTagOrCategory">
                        <PrependContent>
                            <MButton Small Icon Color="error" OnClick="() => _showInput = false">
                                <MIcon>mdi-close</MIcon>
                            </MButton>
                        </PrependContent>
                    </MTextField>
                </div>
            }

        </MCardText>
        <MCardActions>
            <MButton Text="true"
                     OnClick="HandleAddCategory">
                添加分类
            </MButton>

            <MSpacer></MSpacer>
            <MButton Text="true"
                     OnClick="HandleCancel">
                取消
            </MButton>
            <MButton Text="true"
                     Color="primary"
                     OnClick="HandleSave">
                保存
            </MButton>
        </MCardActions>
    </MCard>
</MDialogExtension>

