﻿<MCard Elevation="0"
        Rounded="@("lg")">
    <MRow NoGutters Justify="JustifyTypes.SpaceAround">
        @foreach (var item in Items)
        {
            <MCol Cols="@columns">
                <div @key=item class="ml-4 mr-4 mt-2 mb-2 text-center">
                    <MListItemSubtitle>
                        @item.Title
                    </MListItemSubtitle>
                    <MListItemTitle Class="mt-2 font-weight-bold text-h6">
                        @item.Value
                    </MListItemTitle>
                </div>
            </MCol>
        }
    </MRow>
</MCard>
