@page "/mine"

<h3>MinePage</h3>
<MButton Block
         Class="text-capitalize"
         Rounded
         Large
         Color="primary"
         OnClick="@LogoutAsync">
    退出登录
</MButton>

@code {

}
