.theme--light.m-app-bar.m-toolbar.m-sheet {
    background: #FFFFFF;
}

.theme--dark.m-app-bar.m-toolbar.m-sheet {
    background: #000000;
}

.m-expansion-panel::before {
    box-shadow: none;
}

.m-expansion-panel:not(:first-child)::after {
    border-top: none;
}

.m-expansion-panel-content__wrap {
    padding: 0 8px 8px;
}

.m-expansion-panel--active > .m-expansion-panel-header {
    min-height: inherit;
}

.m-application--is-ltr .m-list-item__action:first-child, .m-application--is-ltr .m-list-item__icon:first-child {
    margin-right: 16px;
}

.m-sheet > .m-list {
    background: inherit;
    border-radius: inherit;
}

/*解决移动端悬停问题*/
@media (hover: none) {
    .theme--light.m-btn:hover::before {
        opacity: 0;
    }

    .theme--light.m-btn:focus::before {
        opacity: 0;
    }

    .theme--light.m-btn--active:hover::before, .theme--light.m-btn--active::before {
        opacity: 0;
    }

    .theme--light.m-btn--active:focus::before {
        opacity: 0;
    }

    .theme--dark.m-btn:hover::before {
        opacity: 0;
    }

    .theme--dark.m-btn:focus::before {
        opacity: 0;
    }

    .theme--dark.m-btn--active:hover::before, .theme--dark.m-btn--active::before {
        opacity: 0;
    }

    .theme--dark.m-btn--active:focus::before {
        opacity: 0;
    }
}
