:root {
    --vditor-toolbar-height: 70px;
}

.vditor {
    border: none !important;
}

.vditor-reset {
    background-color: var(--m-theme-surface) !important;
    border-radius: 8px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

    .vditor-reset::after {
        height: 10px !important;
    }

    .vditor-reset *::-webkit-scrollbar {
        display: initial !important;
    }

    .vditor-reset iframe.iframe__video {
        width: 100%;
        aspect-ratio: 2/1;
        border-radius: 8px;
    }

    .vditor-reset video {
        border-radius: 8px;
        max-height: unset;
    }

    .vditor-reset audio {
        border-radius: 9999px;
    }

        .vditor-reset audio::-webkit-media-controls {
            width: 100%;
        }

    .vditor-reset img {
        border-radius: 8px;
    }


.vditor-toolbar {
    position: sticky;
    top: 0;
    z-index: 99;
    background: var(--m-theme-surface) !important;
    padding-left: 0px !important;
    overflow-x: auto !important;
    border: none !important;
}

    .vditor-toolbar .vditor-toolbar__item {
        padding: 0px 8px !important;
    }

.vditor-toolbar-content {
    min-width: var(--vditor-toolbar-width);
    max-height: var(--vditor-toolbar-height);
    display: flex;
    flex-wrap: wrap;
}
