@inherits DialogComponentBase

<MDialogExtension Visible="Visible"
                  OnBeforeShowContent="BeforeShowContent">
    <div class="image-preview-body">
        <div class="image-preview-img-wrapper" @onwheel="WeelHandZoom"
             style="font-size:0; position: relative; height: 100%; width: 100%;">
            <div>dddw</div>
            <img id="preview-img" @ref="_previewImg" class="image-preview-img" src="@Src"
                 style="position: absolute; left: @_left; top: @_top; transform: translate(-50%, -50%) scale3d(@_zoomOutTimes, @_zoomOutTimes, 1) rotate(@(90*_rotateTimes)deg);">
        </div>

        <div class="image-preview-operations-wrapper">
            <ul class="image-preview-operations">
                <li class="image-preview-operations-operation image-preview-operations-operation-zoomOut @(_zoomOutTimes==1?"image-preview-operations-operation-disabled":"")" @onclick="HandleZoomOut" @onclick:stopPropagation>
                    <MIcon Dark>mdi-magnify-minus-outline</MIcon>
                </li>
                <li class="image-preview-operations-operation image-preview-operations-operation-zoomIn" @onclick="HandleZoomIn" @onclick:stopPropagation>
                    <MIcon Dark>mdi-magnify-plus-outline</MIcon>
                </li>
                <li class="image-preview-operations-operation image-preview-operations-operation-rotateLeft" @onclick="HandleRotateLeft" @onclick:stopPropagation>
                    <MIcon Dark>mdi-file-rotate-left-outline</MIcon>
                </li>
                <li class="image-preview-operations-operation image-preview-operations-operation-rotateRight" @onclick="HandleRotateRight" @onclick:stopPropagation>
                    <MIcon Dark>mdi-file-rotate-right-outline</MIcon>
                </li>

                <li class="image-preview-operations-operation image-preview-operations-operation-close" @onclick="() => InternalVisibleChanged(false)" @onclick:stopPropagation>
                    <MIcon Dark>mdi-close</MIcon>
                </li>
            </ul>
        </div>
    </div>

</MDialogExtension>