@inherits DialogComponentBase

<MDialogExtension Visible="Visible"
                  OnBeforeShowContent="BeforeShowContent">
    <div class="image-preview-body">
        <div class="image-preview-img-wrapper">
                <img @ref="_previewImg" src="@Src" />
        </div>

        <div class="image-preview-operations-wrapper">
            <ul class="image-preview-operations">
                <li class="image-preview-operations-operation" @onclick="HandleReset" @onclick:stopPropagation>
                    <MIcon Dark>mdi-restore</MIcon>
                </li>
                <li class="image-preview-operations-operation" @onclick="HandleDownload" @onclick:stopPropagation>
                    <MIcon Dark>mdi-tray-arrow-down</MIcon>
                </li>
                <li class="image-preview-operations-operation" @onclick="() => InternalVisibleChanged(false)" @onclick:stopPropagation>
                    <MIcon Dark>mdi-close</MIcon>
                </li>
            </ul>
        </div>
    </div>

</MDialogExtension>