@inherits LayoutComponentBase

<MApp>
    <ErrorBoundary>
        <ChildContent>
            <MMain>
                @Body
            </MMain>

            <BottomNavigation />
        </ChildContent>

        <ErrorContent>
            <div>cuowu </div>
        </ErrorContent>
    </ErrorBoundary>
</MApp>

