@inherits LayoutComponentBase

<link href="css/status-bar-and-navigation-bar.css" rel="stylesheet" />

@*
<MApp>
    <ErrorBoundary>
        <ChildContent>
            <MMain>
                @Body
            </MMain>

            <BottomNavigation Items="NavigationItems" IsPermanentPath="IsPermanentPath" />
        </ChildContent>

        <ErrorContent>
            <div>cuowu </div>
        </ErrorContent>
    </ErrorBoundary>
</MApp> *@


<MApp>
    <MMain>
        <MErrorHandler>
            <AuthorizeView>
                <Authorized>
                    @Body
                </Authorized>
                <NotAuthorized>
                    @Body
                </NotAuthorized>
            </AuthorizeView>
        </MErrorHandler>
    </MMain>

    <BottomNavigation Items="NavigationItems" IsPermanentPath="IsPermanentPath" />
</MApp>

